################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/shutterstock_137811743.performance.jpg
/adding minified text.PNG
/adding settings file modification.PNG
/create project.PNG
/editing csproj.png
/environment to staging.PNG
/file nesting.png
/gulpfile.PNG
/inherit from base.PNG
/installing packages.PNG
/minified files look nice.PNG
/show all files.png
/tag helper in index.PNG
/selecting custom setting.png
/packagejson.PNG
/open task runner explorer.png
/mvc pages.PNG
/minify task.PNG
/minified tag helper test.PNG
/minified files.PNG
/we see minified.PNG
