################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/shutterstock_137811743.performance.jpg
